<h1>Razor Demo Controller</h1>


<br />

Simple Calculations:
<br />@(10 + 10)
<br />@(8 - 4)
<br />@(7 * 3)
<br />@(9 / 3)
<br />

Date: @DateTime.Now.ToLongDateString() <br/>
Time: @DateTime.Now.ToLongTimeString() <br/>
@{
    string name = "Kiran";
    string city = "vizag";

}

Your trainer is @name, is from @city