<h1>List of Courses</h1>

@{
	List<CourseModel> courses = ViewBag.courses;

}

<table class="table">

	<tr>
		<th>Id</th>
		<th>Course</th>
		<th>Faculty</th>
		<th>Fee</th>
		<th>DurationInDays</th>
	</tr>

	@foreach (CourseModel c in courses)
	{

		<tr>
			<td>@c.Id</td>
			<td>@c.Course</td>
			<td>@c.Faculty</td>
			<td>@c.Fees</td>
			<td>@c.DurationInDays</td>
		</tr>
	}


</table>